*{                                          /* Might clash */
  box-sizing: border-box;
  margin: 0px;
}
@font-face {
     font-family: "Kreon";
     src:url(../fonts/Kreon-Regular.ttf);
  }

@font-face {
       font-family: "Padauk";
       src:url(../fonts/Padauk-Regular.ttf);
  }


/* HEADER */

/* menu  */
.menu {
 background-color : #13455C;
 width : 100%;
 height : 5rem;
 display: flex;
 position: fixed;
 top :0;
}
.menu h1 {
     color: white;
     margin-left: 1rem;
     margin-top: 1rem;
     display: flex;
     font-size: 40px;
     font-weight: lighter;

     font-family: "Kreon";
}

.menu ul {
    list-style: none;
    display: flex;
    margin-top: 0.8rem;
    margin: auto;

  }

.menu li {
   margin : 1rem 2rem 0rem 5rem;
  }

 /* roll down menu */
.dropdown {
    float: left;
}

.dropdown {
    cursor: pointer;
    font-size: 20px;
    font-family: "Padauk";
    border: none;
    outline: none;
    color: white;
    margin-left: 4rem;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #13455C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 2rem;
}

.dropdown-content a {
    float: none;
    color: white;

    padding-left: 2rem;

    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #0e3445;
}

.show {
    display: block;
}

/* search button */
                                /*Clashes -Conor*/
/*form {
    margin-top: 1rem;

}*/


form input {                    /* The source of Petrol Green Forms. To look at later. -Conor */
}
#searchbar input {

    border-radius: 5rem;
    /*border : none;*/
    background-color: white /*#0e3445*/;

    color: white;

}
button {                        /* Added 'buttons' CSS further down. This might be obsolete now. -Conor */
    background-color: #13455C;
    border : none;
    color : white;
    cursor: pointer;

}

/* sign in /log in link */
.menu a{
    color: white;
    font-family: "Padauk";
    text-decoration: none;

    font-size: 18px;

}

.menu a:hover {
    color: white;
    text-decoration: none;
}

/*FOOTER */


#footer {
    width : 100%;
    height : 2rem;
    background-color : #13455C;
    position: fixed;
    bottom:0;


}

#footer p {
    color: white;
    font-family: "Padauk";
    text-align: center;
    margin-top: 0.5rem;
}

#footer p a {
    color : white;
    font-family: "Padauk";
    text-decoration: none;
}

/* INDEX */


.container {
 width : 100%;

}

.row{
  width : 80%;
  margin-top: 1rem;
}

body {
  padding-top: 6rem;


}

.annonces {
     font-family: "Padauk";
     color:#13455C;
     text-align: center;
     margin-top: 1rem;
}


                                        /******* Login/Signup Page *******/

/* Signup Details */
.signup{
  position:absolute;
  border: 1px solid lightgrey;
  width: 350px;
  padding: 15px;
  margin-left: 400px;
  box-shadow: 3px 7px 10px 1px grey;
  border-radius: 5px;
}


.inscri{
  background-color: #1C8DC1;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  border-radius:1px;
  padding-left: 15px;
  padding-top: 3px;
  color: white;
}
.maincontent {
   width: 80%;
   margin-left: 25%;
   margin-top: 2rem;
   margin-bottom: 10rem;
   z-index: -1;
   position: absolute;
   font-family: "Padauk";
}


.btn{
    background-color: #13455C;
    color: white;
    text-decoration: none;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
}

.btn:hover {
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}    



/******* Login/Signup Page *******/

/* Signup Details */
.signup{
  margin-left: 3rem;
  border: 1px solid #13455C;
  width: 30%;
  box-shadow: 3px 7px 10px 1px #13455C;

}

#sign {
    font-family: "Padauk";
    font-size: 18px;
}

#inscription {
  margin-left: 3rem;
  font-family: "Padauk";
  font-size : 20px; 
}


.signup input{
  border-radius: 3px;
}


#champ {
   margin-left: 3rem;  
}

.country,.date,.signupbutton{
  margin-left: 3px;
}

.signupbutton{
  padding: 8px;
  background-color: #13455C;
  border: none;
  color: white;
}

/* Login Details */
.login{

  border: 1px solid lightgrey;
  width: 350px;
  padding: 20px;
  margin-left: 1150px;
  margin-top: 100px;
  box-shadow: 3px 7px 10px 1px grey;
  border-radius: 5px;
}

.login h1,h3,h5,.mrmrs,.inscri{
  font-family: "Padauk";
}

.login input{
  border-radius: 3px;
}

.linkstyling{
  color: black;
  text-decoration: none;
}

.loginbgcolor{
  background-color: #1C8DC1;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  border-radius:1px;
  padding-left: 15px;
  padding-top: 3px;
  color: white;

  border: 1px solid #13455C;
  width: 30%;
  box-shadow: 3px 7px 10px 1px #13455C;

}

/* Green Line */
.greenline{
 
  width: 1px;
  height: 800px;
  border: solid #13455C;
  margin: auto 950px;
  border-radius: 3px;
}

/*Opacity*/

/*.loginhover{
  background-color:black;
  opacity: 1.0;
}*/




                                          /******Posting Article Page*******/

.article{

  border: 1px solid lightgrey;
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
  box-shadow: 3px 7px 10px 1px grey;
  border-radius: 3px;
}

.article h1,h2,input{
  font-family: "Padauk";
}

.article input{
  border-radius: 3px;
  font-size: 100%;
}

.articledetails{
  background-color: #1C8DC1;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  border-radius:1px;
  padding-left: 15px;
  padding-top: 3px;
  color: white;
}

#buttons{
  padding: 8px;
  background-color: #13455C;
  border: none;
  color: white;
  margin-top:5px;

  border: 1px solid #13455C;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 3px 7px 10px 1px #13455C;

}
#titreAnnonce {
   font-family: "Padauk"; 
   font-size: 23px;
   margin-left: 2rem;
   margin-top: 0.5rem;
}

#article {
   margin-left: 2rem; 
}

input {
   border-radius: 5rem;
}

#cat {
   margin-left: 2rem; 
   margin-top: 0.5rem;
}
#post {
    background-color: #13455C;
    color: white;
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* CONTACT */

.contactez {
   font-family: "Padauk"; 
   color: #13455C;
   margin-left: 5rem;
   margin-top: 2rem;
       
}
.contact {
 width:25%;
 background-color: #13455C;
 margin-left: 5rem;
 margin-top: 2rem;
 color : white;
 font-family: "Padauk";
 padding: 2rem;
}

.google {
    width : 20rem;
    height : 20rem;
    background-color: #13455C;
    margin: auto;
    
}

/* MENTIONS LEGALES */

.mentions {
   width : 70%;
   margin: auto;
   text-align: center;
   margin-top: 5rem;
   font-family: "Padauk";
}

.titreMention {
   font-family: "Padauk"; 
   color: #13455C;
}
