/* Fonts imported */
@font-face {
     font-family: "Kreon";
     src:url(../fonts/Kreon-Regular.ttf);
  }
@font-face {
       font-family: "Padauk";
       src:url(../fonts/Padauk-Regular.ttf);
  }
                                   /* HEADER */

                                    /* Menu */
.menu {
 background-color : #13455C;
 width : 100%;
 height : 5rem;
 display: flex;
 position: fixed;
 top :0;
}
.menu h1 {
     color: white;
     margin-left: 1rem;
     display: flex;
     font-size: 40px;
     font-weight: lighter;
     font-family: "Kreon";
}
.menu ul {
    list-style: none;
    display: flex;
    margin: auto;
}
.menu li {
   margin : 1rem 2rem 0rem 2rem;
}  
                            /* Roll down menu */
.dropdown {
    float: left;
}
.dropdown {
    cursor: pointer;
    font-size: 18px;
    font-family: "Padauk";
    border: none;
    outline: none;
    color: white;
    margin-left: 4rem;
    background-color: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #13455C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 6rem;
    margin-top:70px;    
}
.dropdown-content a {
    float: none;
    color: white;
    padding-left: 2rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #0e3445;
}
.show {
    display: block;
}
                                /* Search Bar */
form {
    margin-top: 1rem;
}
#searchbar input {
    border-radius: 5rem;
    border : none;
    background-color: #0e3445;
    padding-left: 10px;
    color: white;
}
.dropbtn {
    background-color: #13455C;
    border : none;
    color : white;
    cursor: pointer;    
    margin-left: 125px;
    margin-top: 2rem;
    width:110px;
    position: absolute;
}
                                /* Sign In Links */
.menu a{
    color: white;
    font-family: "Padauk";
    text-decoration: none;
    margin-top: 1rem;
    font-size: 18px;
}
.menu li:last-child {
    margin-right: 4rem;
}
.menu a:hover {
    color: white;
    text-decoration: none;
}

.fa-bars{
    color:#13455C;
}
#sidenav{
    display:none;
}


                                        /*FOOTER */         

#footer {
    width : 100%;
    height : 3rem;
    background-color : #13455C;
    position: fixed;
    bottom:0;
}
#footer p {
    color: white;
    font-family: "Padauk";
    text-align: center;
}
#footer p a {
    color : white;
    font-family: "Padauk";
    text-decoration: none;
}
                                       /* INDEX */     
container {
 width : 100%;
}
.row{
  width : 80%;
  margin-top: 1rem;
 
}
body {
  padding-top: 6rem;
}
.annonces {
     font-family: "Kreon";
     color:#13455C;
     text-align: center;
     margin-top: 1rem;
}
.maincontent {
   width: 80%;
   margin-left: 25%;
   margin-top: 2rem;
   margin-bottom: 10rem;
   z-index: -1;
   position: absolute;
   font-family: "Padauk";
}
.btn{
    background-color: #13455C;
    color: white;
    text-decoration: none;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
}
.btn:hover {
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}    
                                         /* INSCRIPTION */
                                        /* Signup Details */
.signup{
  margin: auto;
  border: 1px solid #13455C;
  width: 50%;
  box-shadow: 3px 7px 10px 1px #13455C;
  border-radius: 3px;
}
#sign {
    font-family: "Padauk";
    font-size: 30px;
    color:white;
    text-align: center;
    margin: 0px;
    height: 40px; 
    background-color: #1A6487;
    line-height: normal;
}
#inscription {  
  font-family: "Padauk";
  font-size : 20px; 
  margin-bottom: 0px;
  margin-top: 9px; 
}
#champsign {
   margin-left: 2rem;  
   margin-top: 1rem;  
}
#user_form_submit{
  margin-left: 70%;
  border : none;
  background-color: #1A6487;
  color: white;
  font-family: "Padauk";
  font-size : 18px;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
  margin-top:40px; 
  width: 25%;  
}
#user_form_submit:hover {
 box-shadow: 1px 1px 1px rgba(0, 0, 0, .5); 
}
#signupbutton{
  margin-left: 70%;
  border : none;
  background-color: #1A6487;
  color: white;
  font-family: "Padauk";
  font-size : 18px;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
  margin-top:40px; 
  width: 145px;  
}
#signupbutton:hover {
 box-shadow: 1px 1px 1px rgba(0, 0, 0, .5); 
}
.countries{
   height:30px;
}
#formBoxError  {
  color: red;
}
#formBoxError ul {
    list-style: none;
}
                                            /* LOGIN DETAILS*/
.login{
  border: 1px solid #13455C;
  width: 30%;
  box-shadow: 3px 7px 10px 1px #13455C;
  margin: auto;
  margin-top: 5rem;
  border-radius: 3px; 
}
.login form{
    margin-left: 2rem;    
}
#mdp {
    font-family: "Padauk";
    font-size : 13px;    
    margin-top: 0.5rem;    
    color: black;
    width: 180px;
    position: absolute;
    float:left;     
}  
.logininput {
   margin-top: 2rem;
}
                            /* LOST PASSWORD */
.lost {
    border: 1px solid #13455C;
    box-shadow: 3px 7px 10px 1px #13455C; 
    width: 30%;
    margin: auto;
    margin-top: 2rem;
}
.mail {
  font-family: "Padauk";
  font-size : 20px; 
  margin-top: 2rem;
  margin-left: 2rem;  
}
.mailInfo {
    margin-top: 2rem;
    margin-left: 2rem;
}
                        /* POST ANNONCE */                                                   
#formbox {
    margin-left: 2rem; 
    margin-bottom: 1rem;
}
.article{
  border: 1px solid #13455C;
  width: 40%;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 3px 7px 10px 1px #13455C;
}

input:focus{
    border-color:red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.articledetails {
   font-family: "Padauk"; 
   font-size: 30px;
   margin-left: 0;
   margin-top: 0;
   background-color: #1A6487;
   color: white;
   text-align: center;
   line-height: normal;
   height: 50px;
   font-size: 23px;
   margin-left: 2rem;
   margin-top: 2rem;
   background-color: #1A6487;
}
#titreAnnonce {
   font-family: "Padauk"; 
   font-size: 20px;
   margin-left: 2rem; 
   margin-top:2rem;
}
#article {
   margin-left: 2rem; 
}
input {  
   border-radius: 3px;
}
#cat {
   margin-left: 2rem; 
   margin-top: 0.5rem;
   width: 303px;
}
#article_form_submit{
  margin-left: 70%;
  border : none;
  background-color: #1A6487;
  color: white;
  font-family: "Padauk";
  font-size : 18px;
  margin-bottom: 1rem;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
  margin-top:40px; 
  width: 25%;  
}
#article_form_submit:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);     
}

.formBoxError {
    font-size: 15px;
    color : red;
}
                                                    /* CONTACT */
.contactez {
   font-family: "Kreon"; 
   color: #13455C;
  text-align: center;
}
.contact {
 width:50%;
 background-color: #13455C;
 margin: auto;
 color : white;
 font-family: "Padauk";
 padding-top: 2rem;
 display: flex;
}
.team {
    font-family: "Kreon";
    margin: auto;
}
.contact p {
  margin: auto;
  text-align: center;
}
#map {
    height: 350px;
    width: 50%; 
    margin: auto;
}
                                                 /* MENTIONS LEGALES */
.mentions {
   width : 70%;
   margin: auto;
   text-align: center;
   margin-top: 5rem;
   font-family: "Padauk";
}
.titreMention {
   font-family: "Kreon"; 
   color: #13455C;
}
                                                /* USER */
.userInfo {
    width : 40%;
    border: 1px solid #13455C;
    box-shadow: 3px 7px 10px 1px #13455C;
    margin-left: 10rem;
    margin-top: 3rem;
}
#info {
   list-style: none;
   font-family: "Padauk";
   font-size: 20px;
   padding-top: 1rem;
   width : 30%;
}
.create {
    width : 20%;
    background-color: #13455C;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
    font-family: "Padauk";
    font-size: 30px;
    text-align: center;
    margin-left: 65%;
    margin-top: -10rem;
    color: white;
    cursor: pointer;
}
.create a {
     color : white;
     text-decoration: none;
}
.create a:hover {
     color : white;
     text-decoration: none;
}
.create:hover {
     color : white;
     text-decoration: none;
     box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
                                    /* SEARCH */
 .card-text {
     font-size : 18px;
}
                                    
#search {
     font-family: "Kreon";
     color:#13455C;
     text-align: center;
     margin-top: 1rem; 
}

                                    /* ARTICLE DETAILS */
 #details {
     width : 50%;
     border: 1px solid #13455C;
     box-shadow: 3px 7px 10px 1px #13455C;
     margin: auto;
     margin-top: 3rem;
}                                 
.imgArticle {
     width : 40%; 
}
.detailsTitle {
      float: right;
      margin-right: 10rem;
}
.detailsPrix {
      float: right;
      margin-right: 23.5rem;
      margin-top: -10rem;
}
.detailsText {
      float: right;
      margin-right: 9rem;
      margin-top: -8rem;
}
.detailsSynopsis {
      margin-top: 3rem;
}
#contactAnnonce {
      margin-left: 70%;
      border : none;
      background-color: #1A6487;
      color: white;
      font-family: "Padauk";
      font-size : 18px;
      margin-bottom: 1rem;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, .5);
      margin-top:40px; 
      width: 30%;
}

#contactAnnonce:hover {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);   
}


                                    /* For Tablets */

@media screen and (min-width:650px) and (max-height:959px) {
                                /* HEADER */
    .main li {
      margin : 0rem 2rem 1rem 0rem;
    }
                                /* ARTICLE */
    .article {
        width : 50%;
    }
    #post {
        margin-left: 50%;
    }
                                /*ARTICLE DETAILS */
    .detailsTitle {
        margin-bottom: 5rem;
        margin-right: 2rem;
    }
    .detailsText {
       margin-top: 0.5rem;
       margin-right: 1.5rem;
    }  
    .detailsPrix {
        margin-top: -4rem;
        margin-right: 2rem;
    }
    .detailsSynopsis{
        margin-top: 6rem;
    }
    #contactAnnonce {
      margin-left: 65%;
      width : 35%;
    }
                                /*USER */
    .userInfo {
        width : 50%;
        margin: auto;
    }
    .create {
        width : 50%;
        margin: auto;
        margin-top: 2rem;
    }
                                /* INSCRIPTION */
    .signup {
        width: 50%;
        margin: auto;
    }
                                /* CONNEXION */
    .login {
        width: 50%;
        margin: auto;
    }
    #signupbutton{
        margin-left: 65%;
        cursor:pointer;
    }
    .menu li{
      display:none;
    }

                                /* Search */
                                
    
  
                                    /* Side-navigational Bar */
   #sidenav{
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;      
      right: 0;
      top: 0;
      background-color: #13455C;
      overflow-x: hidden;
      padding-top: 60px;      
      transition: 0.4s; 
      opacity: 0.9;
      display:block;
    }  
        
    #sidenav li{
      list-style-type: none;      
      transition: 0.5s;      
    }    
    #lipadding{
        margin-top: 20px;
    }

    #sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      display: block;
      transition: 0.3s;
    }
    #sidenav a:hover {      
      background-color: #1A6487;           
    }
    #sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;       
    }    

    .fa-bars {
      display:inline;
      width: 8%;
      background-color:#13455C;
      cursor: pointer;
      color:white;      
    }

    #xlink{
        width:80px;  
        height:80px;        
    }
} 


