{% extends "layout.html.twig" %}

{% block content %}
  <!-- Add New Article Box -->
  <section class="article">
    <h1 class="articledetails">Entrez les details de votre article :</h1>
    <h2 id="titreAnnonce">Titre</h2>
      <form id="article" action="">
        <input type="text" autofocus>    
      </form>
    <h2 id="titreAnnonce">Prix</h2>
      <form id="article" action="">
        <input type="text" placeholder="€">
      </form>
    <h2 id="titreAnnonce">Description</h2>
      <form id="article" action="">
        <textarea name="application" id="application" rows="3" cols="30"></textarea>
      </form>  
    <h2 id="titreAnnonce">Choisir une catégorie:</h2>
     
      <select id="cat" name="" id="">
          <option value=""> ----------------- </option>
        <optgroup label="Littérature">
          <option value="">Livres</option>
          <option value="">Bandes Déssinées</option>
          <option value="">Manuels Scolaires</option>
        </optgroup>
        <optgroup label="Informatique">
          <option value="">Accessoires</option>
          <option value="">Bureautiques</option>
          <option value="">Consoles</option>
        </optgroup>
        <optgroup label="Meubles">
          <option value="">Armoires</option>
          <option value="">Canapé</option>
          <option value="">Lampes</option>
        </optgroup>
      </select>
      </br>
      <input id="signupbutton" type="submit" value="Poster l'annonce">
  </section>
{% endblock %}
