<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Article</title>
  <link rel="stylesheet" href="../web/css/main.css">
</head>
<body>
  <!-- Add New Article Box -->
  <section class="article">
    <h1>Titre</h1>
      <form action="">
        <input type="text" autofocus>
      </form>
    <h2>Prix</h2>
      <form action="">
        <input type="text">
      </form>
    <h2>Description</h2>
      <form action="">
        <textarea name="application" id="application" rows="3" cols="30"></textarea>
    <h2>Choisir une catégorie:</h2>
      </form>
      <select name="" id="">
          <option value=""> ----------------- </option>
        <optgroup label="Littérature">
          <option value="">Livres</option>
          <option value="">Bandes Déssinées</option>
          <option value="">Manuels Scolaires</option>
        </optgroup>
        <optgroup label="Informatique">
          <option value="">Accessoires</option>
          <option value="">Bureautiques</option>
          <option value="">Consoles</option>
        </optgroup>
        <optgroup label="Meubles">
          <option value="">Armoires</option>
          <option value="">Canapé</option>
          <option value="">Lampes</option>
        </optgroup>
      </select>
      </br>
      <input type="submit" value="Poster l'annonce">
  </section>
</body>
</html>
