{% extends "layout.html.twig" %}
    
     
     
     
{% block content %}
   
<div id="details"> 
 
    <div class="card-body">
      <img class="imgArticle" src="{{ asset("img/241901.jpg")}}" alt="dvd">  
      <h4 class="detailsTitle">Blu-Ray Justice League</h4> 
      <h5 class="detailsPrix">40€</h5>
      <p class="detailsText"> Durée: 121 Minutes <br>
        Genres: Action, Aventure, Fantastique<br>
        Distibution: Warner Bros. France</p>
      <p class="detailsSynopsis">
         Synopsis :
         Après avoir retrouvé foi en l'humanité, Bruce Wayne, inspiré par l'altruisme de 
         Superman, sollicite l'aide de sa nouvelle alliée, Diana Prince, pour affronter un 
         ennemi plus redoutable que jamais. Ensemble, Batman et Wonder Woman ne tardent pas 
         à recruter une équipe de méta-humains pour faire face à cette menace inédite. 
         Pourtant, malgré la force que représente cette ligue de héros sans précédent – 
         Batman, Wonder Woman, Aquaman, Cyborg et Flash –, il est peut-être déjà trop tard 
         pour sauver la planète d'une attaque apocalyptique… 
      </p>    
      <input id="contactAnnonce" type="submit" value="Contacter l'annonceur"> 
    </div> 
 
</div>    
    
    
{% endblock %}    