<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}LuxBay - Vente de Particuliers à Particuliers</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

         <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <!-- CSS JQuery UI-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
        
        
        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
  
    <body>
     {% include 'header.html.twig' %}  
     
     
     
        {% block content %}

<div class="contact">
    
    <p>
        Adresse : <br>
        9 avenue des hauts fourneaux <br>
        4362 Esch-Sur-Alzette
    </p> 
    <p>
        Téléphonne : <br>
        +352 597  482 573
    </p>  
    <p>
        E-mail : <br>
        lux@bay.lu
    </p>  

</div>  
    
    
<div class="google">
    
    
</div>        


{% endblock %}
{% include 'footer.html.twig' %}  
     
     
        <!-- CDN : jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
        <!-- CDN : script bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <!-- CDN JQuery UI -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('js/script.js') }}"></script> 
        
    </body>
</html>
