{% extends "layout.html.twig" %}
    
     
     
     
{% block content %}
    
<h1 class="contactez"> Nous Contacter </h1>

<div class="contact">
        <p>
            Adresse : <br>
            9 avenue des hauts fourneaux <br>
            4362 Esch-Sur-Alzette
        </p> 
        <p>
            Telephonne : <br>
            +352 597  482 573
        </p>  
        <p>
            E-mail : <br>
            lux@bay.lu
        </p>   
</div>
<div id="weare" class="contact">
    <h4 class="team"> We are </h4>
</div>    
<div class="contact">
 {# Mail to #}  
    <p>
        Laureen François <br>
        <script language="JavaScript">
            var User = "francois.laureen"; 
            var Domain = "gmail.com"; 
            var Address = User+String.fromCharCode(64)+Domain;
            document.write('<a href="mai'+'lto:'+Address+'">'+Address+'</a>');
        </script>
    </p> 
    <p>
        Michel Ginsbach <br>
        <script language="JavaScript">
            var User = "michel"; 
            var Domain = "gmail.com"; 
            var Address = User+String.fromCharCode(64)+Domain;
            document.write('<a href="mai'+'lto:'+Address+'">'+Address+'</a>');
         </script>
    </p> 
    <p id="conor">
        Conor Dunne <br>
         <script language="JavaScript">
            var User = "conordu"; 
            var Domain = "gmail.com"; 
            var Address = User+String.fromCharCode(64)+Domain;
            document.write('<a href="mai'+'lto:'+Address+'">'+Address+'</a>');
         </script>
    </p> 
</div>    


<div id="map">
</div>    

 <section id="sidenav">     
    <a id="xlink" href="javascript:void(0)" class="closebtn" onclick="closeNav();">x</a>
    <ul>         
        <li id="lipadding"> <a href="{{ path("signin") }}"> Inscription </a> </li>
        <li> <a href="{{ path("login") }}"> Connexion </a> </li>
        <li> <a href="{{ path("account") }}"> Mon Compte </a> </li>
        <li> <a href="{{ path("logout") }}"> Deconnexion</a> </li>  
    </ul>
 </section> 
{# API Google Map #}
<script>
      function initMap() {
        var uluru = {lat: 49.5024421, lng: 5.949233599999957};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC1dy8BzPUu7h2-YKjk2blzfchmUQx45Q&callback=initMap">
</script>

<script>
function openNav() {
    document.getElementById("sidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("sidenav").style.width = "0";
}
</script>

      



{% endblock %}

 
  

