{% extends "layout.html.twig" %}
    
     
     
     
{% block content %}
    
<h1 class="contactez"> Nous Contacter </h1>

<div class="contact">
    <div class="col-sm-4">

        <p>
            Adresse : <br>
            9 avenue des hauts fourneaux <br>
            4362 Esch-Sur-Alzette
        </p> 
        <p>
            Téléphonne : <br>
            +352 597  482 573
        </p>  
        <p>
            E-mail : <br>
            lux@bay.lu
        </p>  

    </div>  
</div>
<div class="contact">

    <div class="col-sm-4">
 
        
        GOOGLE MAP
    </div>    
    


{% endblock %}

 
  

