{# empty Twig template #}

    <footer id="footer">
    <p>  

        {{ "now"|date("Y") }} | Tous droits reservees "The Fellowship of the Thing" © <br>

         <a href="{{ path("contact") }}"> Nous Contacter -</a>
         <a href="{{ path("mentions") }}"> Mentions Legales </a>
    </p>
      
    </footer>
