{# empty Twig template #}

    <footer id="footer">
    <p>  
        {{ "now"|date("Y") }} | Tous droits reservées "The Fellowship of the Thing" ©
         <a href="{{ path("contact") }}"> Nous Contacter -</a>
         <a href="{{ path("mentions") }}"> Mentions Légales </a>
    </p>
      
    </footer>
