{# empty Twig template #}

    <footer id="footer">
    <p>  

       Tous droits reservees "The Fellowship of the Thing" | ©{{ "now"|date("Y") }} 
      <br>

         <a href="{{ path("contact") }}"> Nous Contacter -</a>
         <a href="{{ path("mentions") }}"> Mentions Legales </a>
    </p>
      
    </footer>
