<div class="menu">
      <a href="{{ path("homepage") }}"> <h1> LuxBay </h1> </a>
      <ul>
       
        <li> 
            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction();"> Categories <i class="fa fa-caret-down"></i> </button>
                
                <div class="dropdown-content" id="myDropdown">
                  <a href="#">Informatique</a>
                  <a href="#">Litterature</a>
                  <a href="#">Meubles</a>
                </div>
        
            </div>
        </li> 
        <form id="searchbar" action="" method="get">
          <input type="text" name="search" placeholder="Rechercher..." />
          <button type="submit" id="submit" />
             <i class="fa fa-search"></i>  
          </button>
        </form>
        <li> <a href="{{ path("login") }}"> Log In/Sign In </a> </li>
      </ul>

 
</div>
