{% extends "layout.html.twig" %}

{% block content %}
<container> 
 
<div class="maincontent">      
    <div class="row">

            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="img/241901.jpg" alt="Card image cap">  
                  <h4 class="card-title">Film</h4>
                  <h5 class="card-price">40€</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn">Détails</a>
                </div>
              </div>
            </div>
           <div class="col-sm-3" >
             <div class="card">
               <div class="card-body">
                 <img class="card-img-top" src="img/clavier.jpg" alt="Card image cap">  
                 <h4 class="card-title">Clavier Azerty</h4>
                 <h5 class="card-price">40€</h5>
                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 <a href="#" class="btn">Détails</a>
               </div>
             </div>
           </div>
          <div class="col-sm-3" >
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="img/640.jpg" alt="Card image cap">  
                  <h4 class="card-title">Livre</h4>
                  <h5 class="card-price">10€</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn">Détails</a>
                </div>
              </div>
            </div>
          </div>  


    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="img/241901.jpg" alt="Card image cap">  
            <h4 class="card-title">Film</h4>
            <h5 class="card-price">40€</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn">Détails</a>
          </div>
        </div>
      </div>
     <div class="col-sm-3" >
       <div class="card">
         <div class="card-body">
           <img class="card-img-top" src="img/clavier.jpg" alt="Card image cap">  
           <h4 class="card-title">Clavier Azerty</h4>
           <h5 class="card-price">40€</h5>
           <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           <a href="#" class="btn">Détails</a>
         </div>
       </div>
     </div>
    <div class="col-sm-3" >
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="img/640.jpg" alt="Card image cap">  
            <h4 class="card-title">Livre</h4>
            <h5 class="card-price">10€</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn">Détails</a>
          </div>
        </div>
      </div>
    </div>       
</div>   
</container>    
{% endblock %}
