<!DOCTYPE html>
<html>
    <head>
		{% block head %}
        <title>{% block title '' %} - My Silex Application</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('js/client.js') }}"></script>
		{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
