{% extends "layout.html.twig" %}

{% block content%}



<!-- Login -->


  <section class="login">     
     <h1 id="sign">Se connecter</h1>     
     <form>
       <h3 id="inscription">Nom d'Utilisateur</h3>
       <input id="champ" type="text" autofocus>
       <h3 id="inscription">Mot de Passe</h3>
       <input id="champ" type="text">
       <a href=""><h5 id="mdp">Mot de Passe oublié? Cliquez-ici!</h5></a>
     </form>
    <input id="signupbutton"  type="submit" value="Connexion">
  </section>
{%endblock%}