{% extends "layout.html.twig" %}


{% block content %}

    <section class="lost">
        <h3 class="mail"> Votre adresse e-mail :</h3> 
          <input id="champsign" type="text"> 
          
          <p class="mailInfo">
              *Un mail vous sera envoyé afin de vous rediriger vers une page
               pour modifier votre mot de passe*
          </p>  
          <input id="signupbutton" type="submit" value="Envoyer">    
    </section>    
    
    
{% endblock %}    