{# empty Twig template #}
<div class="userInfo">
    <ul>
        <li> Civilité : </li>
        <li> Nom : </li>
        <li> Prénom : </li>
        <li> Date de naissance : </li>  
        <li> Adresse : </li> 
        <li> Pays : </li>
        <li> E-mail : </li>
        <li> Téléphone : </li>  
    </ul>    
     
</div>   
<div class="create"    
     <button> + Créer Annonce </button>

</div>    