

{% block content %}
<div class="userInfo">
    <ul id="info">
     
        <li> Nom : </li>
        <li> Prenom : </li>
        <li> Date de naissance : </li>  
        <li> Adresse : </li> 
        <li> Pays : </li>
        <li> E-mail : </li>
        <li> Telephone : </li>  
    </ul>    
     
</div>   
<div class="create"    
     <button id="new"> + Creer Annonce </button>

</div>      
{% endblock %}